body {
    background: black
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}
p {
    color: white;
    text-align: center;
    font-size: 40px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}