/* body {
    background-image: url("../images/carnival_background.jpg");
    background-size: 55%;
    background-repeat:   repeat;
    background-position: center center;
    margin-top: 40px;
} */
h1 {
    color: #D4AF37;
    text-align: center;
    font-size: 130px;
    margin-top: -800px;
    text-shadow: 3px 2px #000000;
    margin-bottom: 13px;
    text-decoration: underline;
    text-decoration-color: #FF0000;
    z-index: 5;
}
p {
    color: #D4AF37;
    text-align: center;
    font-size: 105px;
    line-height: 5px;
    text-shadow: 2px 2px #000000;
    margin-top: 21px;
    z-index: 5;
}
#ogCrystalBall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    margin-top: -24px;
    z-index: 5;
    margin-bottom: 33px;
}

.header {
    color: #D4AF37;
    text-align: center;
    font-size: 131px;
    margin-top: -820px;
    text-shadow: 3px 2px #000000;
    margin-bottom: 20px;
    text-decoration:  underline;
    text-decoration-color: #FFFFFF;
    z-index: 5;

}
.crystalBall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
    margin-top: -34px;
    z-index: 5;
}
.text {
    color: #D4AF37;
    text-align: center;
    font-size: 58px;
    line-height: 0px;
    text-shadow: 2px 2px #000000;
    margin-top: 16px;
    z-index: 5;
    margin-right: 7px;
}
#bgrnd {
    width: 104%;
    margin-left: -2%;
    z-index: 1;
}